@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Open+Sans:wght@400;700&family=Sunflower:wght@300;700&display=swap');

@import './components/header-bar.css';
@import './components/status-bar.css';
@import './components/users.css';
@import './components/nav-bar.css';
@import './components/alarm.css';

@import './pages/friends.css';
@import './pages/login.css';
@import './pages/chats.css';
@import './pages/view.css';
@import './pages/shop.css';

body {
  font-family: 'Sunflower', 'Do Hyeon', 'Open Sans', sans-serif;
}
.main {
  position: absolute;
  top: 2rem;
  width: 100%;
  height: 200vh;
}
.contents{
  position: absolute;
  top: 3rem;
  width: 100%;
}
.active {
  opacity: 1;
}

:root {
  --yellow: rgb(255,235,51)
}