.nav-bar {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: beige;
}
.nav-bar__icon {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  font-size: 24px;
}
.nav-bar--active {
  color: black;
}